:root {
    --primary-color: #1A1A40;
    --secondary-color: #FA58B6;
}

@font-face {
    font-family: digital;
    src: url('./digital-regular.ttf');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-jst-c {
    justify-content: center;
}

.flex-jst-sb {
    justify-content: space-between;
}

.flex-jst-sa {
    justify-content: space-around;
}

.flex-jst-se {
    justify-content: space-evenly;
}

.flex-aln-c {
    align-items: center;
}

.flex-d-c {
    flex-direction: column;
}

body {
    font-size: 100%;
    overflow: hidden;
    font-family: digital;
    color: white;
}

.play {
    font-family: 'Work Sans', sans-serif;
    padding-block: 3rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: black;
}

.play p {
    font-style: italic;
}

.play>* {
    margin-block: 1rem;
    letter-spacing: 1px;
}

.play span {
    position: relative;
    font-size: 2rem;
    background: white;
    color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.play span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    height: 5rem;
    background: #2c2c6a;
    font-size: 2rem;
    letter-spacing: 2px;
}


header>* {
    text-align: center;
    width: 10rem;
    margin-inline: 1rem;
}

main {
    height: calc(100vh - 5rem);
    background: var(--primary-color);
    position: relative;
}

.video {
    display: none;
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

video {
    width: 100%;
    height: 100vh;
}

#circle {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    animation: breath 1s infinite ease-in-out;
}

@keyframes breath {

    0%,
    100% {
        transform: scale(2);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: rotateZ(8deg) scale(1.5);
    }

    50% {
        transform: rotateZ(-8deg) scale(1.5);
    }
}